@import url("960/reset.css");
@import url("960/text.css");
@import url("960/960.css");

@import url("forms.css");

@import url("auth.css");
@import url("req.css");
@import url("purchase_order.css");
@import url("invoice.css");
@import url("receiving.css");

body    {
    color: #333;    
}

h1 {
    border-bottom: solid 3px #c2c2c2;
    margin-bottom: 30px;
    padding-top: 10px;
}

table    {
    width: 100%;
}

tbody   {
    padding: 0;
}

table th, table td  {
    margin: 0;
    padding: 5px;
    border-top: solid 1px #fff;
}

th  {
    text-align: left;
}

td  {
    background-color: #e8e8e8;
    border-right-style: none;
}

a   {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: blue;
}

ul  {
    list-style: none;
}

ul li   {
    margin: 0;
}

.widget  {
    border: solid 1px #d3d3d3;
    padding: 0 7px 10px 7px;
    margin-bottom: 10px;
}

.widget h4  {
    margin: 0;
    font-size: 135%;
    border-bottom-width: 2px;
}

.widget h4 a {
    font-weight: normal; 
    font-size: 70%;
    margin-left: 40em;
}

.widget h6 {
    border-bottom: solid 1px #d3d3d3;
    margin: 0;
}

.widget form h6 {
    margin-bottom: 10px;
}

.widget ul  {
    margin: 10px 0;
}

.widget p {
    margin: 5px 0 20px 0;
}

.widget ul li  {
    line-height: 1.5em;
}

.widget ul li span  {
    font-weight: bold;
}

.horiz-nav   {
    font-size: 13px;
    font-weight: normal;
}

.horiz-nav li    {
    display: inline;
    padding: 3px;
}

h1 .horiz-nav    {
    float: right;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

h3  {
    margin: 0;
}

h4  {
    border-bottom: solid 1px #c2c2c2;
    margin: 0 5px 15px 5px;
}

.feedback   {
    height: 20px;
    display: block;
    margin: 5px 0;
}

#logo   {
    /*width: 150px;*/
    float: left;
}

#menu p {
    margin: 10px;
    background-color: #fff;
}

.err  {
    color: #f00;
}

.ok {
    color: green;
}

.clear-float {
    float: none;
    clear: both;
}

#footer {
    border-top: solid 1px #c2c2c2;
    margin-top: 30px;
}

#footer p   {
    color: #999;
    font-size: 12px;
    margin: 5px 10px;
}

label.error {
    font-size: 85%;
    color: green;
    width: 12em;
}
