.main .feedback {
    margin: 0;
}

.main .widget   {
    border-style: none none solid none;
    padding: 0;
}

.inner  {
    padding: 5px 0;
}

.inner a   {
    font-weight: bold;
}

#requisition-form    {
    display: none;
}




#req-detail {
    margin-bottom: 5px;
}

#item-list h6   {
    border-bottom-style: none;
    margin-bottom: 5px;
}
