.main .feedback {
    margin: 0;
}

.main .widget   {
    border-style: none none solid none;
    padding: 0;
}

.inner  {
    padding: 5px 0;
}

.inner a   {
    font-weight: bold;
}

.inner .link-back   {
    float: left;
}

.inner .button    {
    float: right;
}

.inner .button  {
    display: none;
}
