table    {
    margin: 0;
}

table th {
    text-align: left;
    font-weight: normal;
}

a   {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: blue;
}

ul  {
    list-style: none;
}

ul li   {
    margin: 0;
}

.widget  {
    border: solid 1px #d3d3d3;
    padding: 0 7px 10px 7px;
    margin-bottom: 10px;
}

.widget h4  {
    margin: 0;
    font-size: 135%;
    border-bottom-width: 2px;
}

.widget h6 {
    border-bottom: solid 1px #d3d3d3;
    margin: 0;
}

.widget ul  {
    margin: 10px 0;
}

.widget p {
    margin: 5px 0 20px 0;
}

.widget ul li  {
    line-height: 1.5em;
}

.horiz-nav   {
    font-size: 13px;
    font-weight: normal;
}

.horiz-nav li    {
    display: inline;
    padding: 3px;
}

.main .feedback {
    margin: 0;
}

.main .widget   {
    border-style: none none solid none;
    padding: 0;
    margin-bottom: 20px;
}

.main .widget .first    {
    font-size: 120%;
    font-weight: bold;
}
