<%inherit file="dashboard.html"/>

<%def name="title()">Add Item To Requisition</%def>

<%def name="custom_js()">
    <script src="/js/req.js"></script>
</%def>

<%def name="menu()">
    <div class="grid_4 alpha">
        <div id="menu" class="widget">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</%def>

<%def name="activity()">
    <div class="grid_12 omega main">
        <div class="widget">
            <h4>Add Item To Requisition</h4>
            <div class="inner">

                <form name="add-item-form" id="add-item-form" class="info-form"><!--{{{-->
                    <div class="feedback">&nbsp;</div>
                    <fieldset>
                        <ol>
                            <li>
                                <label for="quantity">Quantity</label>
                                <input id="quantity" name="quantity"/>
                            </li>
                            <li>
                                <label for="item-name">Name</label>
                                <input id="item-name" name="item-name"/>
                            </li>
                            <li>
                                <label for="item-description">Description</label>
                                <textarea id="item-description" name="item-description" cols=40></textarea>
                            </li>
                            <li>
                                <label for="unitprice">Unit Price</label>
                                <input id="unitprice" name="unitprice"/>
                            </li>
                        </ol>
                    </fieldset>

                    <fieldset class="submit">
                        <input type="button" class="submit" value="Add" onClick="addItem('${c.req_id}');"/>
                    </fieldset>
                </form><!--}}}-->

            </div>
        </div>
    </div>
</%def>
