<%inherit file="dashboard.html"/>

<%def name="title()">Add Line Item To Requisition</%def>

<%def name="custom_js()">
    <script src="/js/req.js"></script>
    <script><!--{{{-->
        $(function()    {
            var obj = new AjaxGet();
            obj.get("/item/get_types");

            $("#item-type")
                .change(function() { 
                    populateItemnameVendor($(this).val()); 
                });
        });
    </script><!--}}}-->
</%def>

<%def name="menu()">
    <%include file="menu.html"/>
</%def>

<%def name="activity()">
    <div class="grid_12 omega main">
        <div class="widget">
            <h4>Add Item To Requisition</h4>
            <div class="inner">

                <form name="add-item-form" id="add-item-form" class="info-form"><!--{{{-->
                    <div class="feedback">&nbsp;</div>
                    <fieldset>
                        <ol>
                            <li>
                                <label for="item-type">Item Type</label>
                                <select id="item-type"></select>
                            </li>
                            <li>
                                <label for="item-name">Name</label>
                                <select id="item-name" name="item-name"/>
                            </li>
                            <li>
                                <label for="specification">Specification</label>
                                <textarea id="specification" name="specification" cols=40></textarea>
                            </li>
                            <li>
                                <label for="quantity">Quantity</label>
                                <input id="quantity" name="quantity"/>
                            </li>
                            <li>
                                <label for="unitprice">Unit Price</label>
                                <input id="unitprice" name="unitprice"/>
                            </li>
                            <li>
                                <label for="vendor">Vendor</label>
                                <select id="vendor"></select>
                            </li>
                        </ol>
                    </fieldset>

                    <fieldset class="submit">
                        <input type="button" class="submit" value="Add" onClick="addLineItem('${c.req_id}');"/>
                        <input type="reset" value="Clear form"/>
                    </fieldset>
                </form><!--}}}-->

            </div>
        </div>
    </div>
</%def>
