<%inherit file="dashboard.html"/>

<%def name="title()">All Requisitions</%def>

<%def name="custom_js()">
    <script src="/js/req.js"></script>
    <script>
        $(function()    {
            var obj = new AjaxGet();
            obj.get("/requisition/get");
        });

    </script>
</%def>

<%def name="menu()">
    <%include file="menu.html"/>
</%def>

<%def name="activity()">
    <div class="grid_12 omega main">

        <div class="widget">
            <h4>All Requisitions</h4>
            <div class="inner">
                <table>
                    <thead>
                        <th>ID.</th>
                        <th>Description</th>
                        <th>Organization</th>
                        <th>No. of Items</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody id="reqs-container">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</%def>
