<%inherit file="dashboard.html"/>

<%def name="title()">All Requisitions</%def>

<%def name="custom_js()">
    <script>
        $(function()    {

            var url = "/requisition/get_all";
            getAllReq(url);

        });


        function getAllReq(url) {

            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",

                success: function(response) {
                    displayReqs(response.data.body);                              
                }
            });

        }

        function displayReqs(data)  {
            var rows = "";

            for (i=0; i<data.length; i++)   {

                rows += "<tr>" + 
                            "<td>" + data[i]['id'] + "</td>" + 
                            "<td>" + data[i]['description'] + "</td>" + 
                            "<td>" + data[i]['status'] + "</td>" + 
                            "<td><a href='/requisition/" + data[i]['id'] + "/items'>View Items</a></td>" + 
                        "</tr>";

            }

            $("#reqs-container").html(rows);

        }
    </script>
</%def>

<%def name="menu()">
    <div class="grid_4 alpha">
        <div id="menu" class="widget">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</%def>

<%def name="activity()">
    <div class="grid_12 omega main">
        <div class="widget">
            <h4>All Requisitions</h4>
            <div class="activity-board">
                <div id='item-list' class='info'>
                    <table>
                        <thead>
                            <th>Requisition ID.</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tbody id="reqs-container">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="page_content()">
    ${self.menu()} 
    ${self.activity()}
</%def>
