<%inherit file="base.html"/>

<%def name="title()">Dashboard</%def>

<%def name="custom_js()"></%def>

<%def name="menu()">
    <%include file="menu.html"/>
</%def>

<%def name="activity()">
    <div class="grid_12 omega">
        <div class="widget">
            <h4>Dashboard</h4>
            <p>
                Welcome <b>${session['user'].firstname} ${session['user'].lastname}</b><br/><br/>
            </p>
        </div>
    </div>
</%def>

<%def name="page_content()">
    ${self.menu()}
    ${self.activity()}
    <div id="footer" class="grid_16 alpha omega">
        <p>&copy;2009. OmniaWorks. All rights reserved.</p>
    </div>
</%def>
