<%inherit file="base.html"/>

<%def name="title()">Dashboard</%def>

<%def name="custom_js()">
    <script>
        $(function()    {
            $(".grid_4 .widget ul").html(role["${session['user'].roles}"]);
        });
    </script>
</%def>

<%def name="activity()">
    <div class="grid_12 omega">
        <div class="widget">
            <h4>Dashboard</h4>
            <p>
                Welcome <b>${session['user'].firstname} ${session['user'].lastname}</b>
            </p>
        </div>
    </div>
</%def>

<%def name="page_content()">
    <div class="grid_4 alpha">
        <div class="widget">
            <ul>
                
            </ul>
        </div>
    </div>
    ${self.activity()}
    <div id="footer" class="grid_16 alpha omega">
        <p>&copy;2009. OmniaWorks. All rights reserved.</p>
    </div>
</%def>
