<%def name="actionlinks()"><!--{{{-->
    <li><a href="/purchase_order/${c.po_id}/add_line_item">Add Item</a></li>
    <li><a href="/purchase_order/${c.po_id}/view">Preview</a></li>
</%def><!--}}}-->

<%def name="title()">Edit Purchase Order</%def>

<%def name="view()"><!--{{{-->
    <div id="purchase-order">
        <h4>Purchase Order</h4>
        <div id="po">
            <ul>
                <li>Purchase Order No. <span id="id"></span></li>
                <li>Date <span id="date"></span></li>
                ${self.actionlinks()}
            </ul>
        </div>
        <div id="line-items">
            <table>
                <thead>
                    <th>Item No.</th>
                    <th>Name</th>
                    <th>Specification</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody id="po-items">
                </tbody>
            </table>
            <ul>
                <li>Total Price <span id="amount"></span></li>
            </ul>
        </div>
        <div id="vendor">
            <ul>
                <li>Name of Vendor <span id="name"></span></li>
                <li>Address <span id="address"></span></li>
                <li>Phone Number <span id="phone"></span></li>
            </ul>
        </div>
    </div>
</%def><!--}}}-->

<%def name="extra_actions()"></%def>

<%def name="container()"><!--{{{-->
    <div class="grid_12 omega">
        <div class="widget">
            ${self.task()}   
            ${self.view()}
        </div>
        ${self.extra_actions()}
    </div>
</%def><!--}}}-->

<%inherit file="purchase_order.html"/>
