<%def name="title()">Edit Invoice</%def>

<%def name="actionlinks()">
    <li><a href="/invoice/${c.inv_no}/add_item">Add Item</a></li>
    <li><a href="/invoice/${c.inv_no}/view">View</a></li>
</%def>

<%def name="task()"></%def>

<%def name="view()"><!--{{{-->
    <div id="invoice">
        <h4>Invoice</h4>
        <div id="vendor">
            <ul>
                <li id="name"></li>
                <li id="address"></li>
                <li id="phone"></li>
            </ul>
        </div>

        <div id="invoice-detail">
            <ul>
                <li>Invoice No. <span></span></li>
                ${self.actionlinks()}
            </ul>
        </div>

        <div id="line-items">
            <table>
                <thead>
                    <th>Item No.</th>
                    <th>Item Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>&nbsp;</th>
                <thead>
                <tbody id="inv-items">
                </tbody>
            </table>
            <ul>
                <li>Amount <span id="amount"></span></li>
            </ul>
        </div>
    </div>
</%def><!--}}}-->

<%def name="activity()">
    <div class="grid_12 omega">
        <div class="widget">
            ${self.task()}
            ${self.view()}
        </div>
    </div>
</%def>

<%inherit file="invoice.html"/>
