<%inherit file="dashboard.html"/>

<%def name="title()">Items</%def>

<%def name="custom_js()">
    <script>
        $(function()    {

            var url = "/requisition/${c.requisition['id']}/get_items";
            showItems(url);

        });


        function createItemRows(list)   {
            var rows = "";

            for (i=0; i<list.length; i++)   {
                rows += "<tr>" + 
                            "<td>" + list[i]['id'] + "</td>" + 
                            "<td>" + list[i]['name'] + "</td>" + 
                            "<td>" + list[i]['description'] + "</td>" + 
                            "<td>" + list[i]['quantity'] + "</td>" + 
                            "<td>" + list[i]['unitprice'] + "</td>" + 
                        "</tr>";
            }
            $("#item-container").html(rows);
        }

        function showItems(url)    {
            
            $.ajax({

                url: url,
                type: "GET",
                dataType: "json",

                success: function(itemList)  {
                    if (itemList.code != 0)  {
                        alert(itemList.code + ": " + itemList.data.body);
                    } else  {
                        if (itemList.data.type != "list")    {
                            alert("Unrecognized data format: " + itemList.data.type);
                        } else  {
                            createItemRows(itemList.data.body);
                        }
                    }
                }

            });

        }
    </script>
</%def>

<%def name="menu()">
    <div class="grid_4 alpha">
        <div id="menu" class="widget">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</%def>

<%def name="activity()">
    <div class="grid_12 omega main">
        <div class="widget">
            <h4>Items In Requisition #${c.requisition['id']}</h4>
            <div class="activity-board">
                <div class="info">
                    <table>
                        <thead>
                            <th>Item ID.</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                        </thead>
                        <tbody id="item-container">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="page_content()">
    ${self.menu()} 
    ${self.activity()}
</%def>
