<div class="grid_4 alpha">
    <div class="widget">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/requisition">Create Requisition</a></li>
            <li><a href="/requisition/all">View Requisitions</a></li>
            <li><a href="/requisition/approve">Approve Requisitions</a></li>
            <li><a href="#">Generate Order</a></li>
            <li><a href="#">Receive Goods</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>
