<%inherit file="dashboard.html"/>

<%def name="title()">Create Purchase Order</%def>

<%def name="custom_js()">
    <script src="/js/purchase_order.js"></script>
</%def>

<%def name="menu()">
    <%include file="menu.html"/>
</%def>

<%def name="activity()">
    <div class="grid_12 omega main">
        <div class="widget">
            <h4>Create Purchase Order</h4>
            <form name="select-vendor-form" id="select-vendor-form" class="info-form">
                <div class="feedback">&nbsp;</div>
                <fieldset>
                    <ol>
                        <li>
                            <label for="info">Create Purchase Order for:</label>
                            <select id="vendor" onchange="showPOForm()" name="vendor"></select>
                        </li>
                    </ol>
                </fieldset>
            </form>

            <form name="purchase-order-form" id="purchase-order-form" class="info-form">
                <div class="feedback"></div>
                <fieldset>
                    <ol>
                        <h6>Purchase Order For <span id="vendor-name"></span></h6>
                        <li>
                            <label for="item-name">Item</label>
                            <select id="item-name" name="item-name"></select>
                        </li>
                        <li>
                            <label for="specification">Specification</label>
                            <textarea id="specification" name="specification" cols=30 rows=3></textarea>
                        </li>
                        <li>
                            <label for="quantity">Quantity</label>
                            <input id="quantity" name="quantity"/><br/>
                            <span id="msg"></span>
                        <li>
                            <label for="unit-price">Unit Price</label>
                            <input id="unit-price" name="unit-price" onFocus="checkQuantity()"/>
                        </li>
                        <li>
                            <label for="total-price">Total Price</label>
                            <input id="total-price" name="total-price"/>
                        </li>
                    </ol>
                </fieldset>

                <fieldset class="submit">
                    <input type="button" class="submit" value="Add Another Item"/>
                    <input type="button" class="submit" value="Create"/>
                </fieldset>
            </form>
        </div>
    </div>
</%def>
