<%inherit file="base.html"/>

<%def name="title()">Create Requisition</%def>

<%def name="custom_js()">
    <script src="/js/req.js"></script>
</%def>

<%def name="page_content()">

    <div class="grid_4 alpha">
        <div id="menu" class="widget">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="grid_12 omega main">
        <div class="widget">
            <h4>Create Requisition</h4>
            <div class="activity-board">
                <div id="req-links" class="info">
                    <h6><a id="create-req" href="#" onclick="showCreatereqForm()">Create Requisition</a></h6>
                </div>

                <form name="requisition-form" id="requisition-form" class="info-form"><!--{{{-->

                    <h6>Create Requisition</h6>
                    <div class="feedback">&nbsp;</div>
                    <fieldset>
                        <ol>
                            <li>
                                <label for="req-description">Description</label>
                                <textarea id="req-description" name="req-description" cols=40 rows=5></textarea>
                            </li>
                        </ol>
                    </fieldset>

                    <fieldset class="submit">
                        <input type="button" class="submit" value="Create" onClick="submitReq();"/>
                    </fieldset>
                </form><!--}}}-->

                <form name="add-item-form" id="add-item-form" class="info-form"><!--{{{-->

                    <h6>Add Item To Requisition</h6>
                    <div class="feedback">&nbsp;</div>
                    <fieldset>
                        <ol>
                            <li>
                                <label for="quantity">Quantity</label>
                                <input id="quantity" name="quantity"/>
                            </li>
                            <li>
                                <label for="item-name">Name</label>
                                <input id="item-name" name="item-name"/>
                            </li>
                            <li>
                                <label for="item-description">Description</label>
                                <textarea id="item-description" name="item-description" cols=40></textarea>
                            </li>
                            <li>
                                <label for="unitprice">Unit Price</label>
                                <input id="unitprice" name="unitprice"/>
                            </li>
                        </ol>
                    </fieldset>

                    <fieldset class="submit">
                        <input type="button" class="submit" value="Add" onClick="addItem();"/>
                    </fieldset>
                </form><!--}}}-->

            </div>
        </div>
    </div>

</%def>
