<%inherit file="dashboard.html"/>

<%def name="title()">Create Requisition</%def>

<%def name="custom_js()">
    <script src="/js/req.js"></script>
    <script>
        $(function()    {
            var obj = new AjaxGet();

            obj.get("/misc/get_days");
            obj.get("/misc/get_months");
            obj.get("/misc/get_years");
        });
    </script>
</%def>

<%def name="menu()">
    <%include file="menu.html"/>
</%def>

<%def name="activity()">
    <div class="grid_12 omega main">

        <div class="widget">
            <h4>Create Requisition</h4>
            <div class="inner">

                <form name="requisition-form" id="requisition-form" class="info-form"><!--{{{-->
                    <div class="feedback">&nbsp;</div>
                    <fieldset>
                        <ol>
                            <h6>Requisition</h6>
                            <li>
                                <label for="date-required">Date Required</label>
                                <select id="day"></select>
                                <select id="month"></select>
                                <select id="year"></select>
                            </li>
                            <li>
                                <label for="req-description">Description</label>
                                <textarea id="req-description" name="req-description" cols=40 rows=5></textarea>
                            </li>
                            <h6>Requestor&rsquo;s Details</h6>
                            <li>
                                <label for="organization">Organization</label>
                                <input id="organization" name="organization"/>
                            </li>
                            <li>
                                <label for="firstname">Firstname</label>
                                <input id="firstname" name="firstname"/>
                            </li>
                            <li>
                                <label for="surname">Surname</label>
                                <input id="surname" name="surname"/>
                            </li>
                            <li>
                                <label for="phone-number">Phone Number</label>
                                <input id="phone-number" name="phone-number"/>
                            </li>
                        </ol>
                    </fieldset>

                    <fieldset class="submit">
                        <input type="button" class="submit" value="Create" onClick="createReq();"/>
                        <input type="reset" value="Clear form"/>
                    </fieldset>
                </form><!--}}}-->

            </div>
        </div>
    </div>
</%def>

<%def name="page_content()">
    ${self.menu()} 
    ${self.activity()}
</%def>
