<%inherit file="dashboard.html"/>

<%def name="title()">Requisition #${c.req_id}</%def>

<%def name="custom_js()">
    <script src="/js/req.js"></script>
    <script><!--{{{-->

        $(function()    {

            var reqId = "${c.req_id}";
            var url = "/requisition/" + reqId + "/get";

            getReq(url);

        });

    </script><!--}}}-->
</%def>

<%def name="menu()"><!--{{{-->
    <div class="grid_4 alpha">
        <div id="menu" class="widget">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</%def><!--}}}-->

<%def name="activity()"><!--{{{-->
    <div class="grid_12 omega main">

        <div class="widget">
            <h4>Requisition Details</h4>
            <div class="inner">
                <div id="req-detail"></div>
                <h6>Items</h6>
                <table>
                    <thead>
                        <th>Item ID.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                    </thead>
                    <tbody id="req-items">
                    </tbody>
                </table>
            </div>
            <div id="other" class="inner">
                <input type="button" class="button" value="Approve" onclick="approveReq('${c.req_id}', '${session['user'].id}');"/>
                <div class="clear-float"></div>
            </div>
        </div>

    </div>
</%def><!--}}}-->

<%def name="page_content()">
    ${self.menu()} 
    ${self.activity()}
</%def>
